<<<<<<< HEAD

=======
<h1>Robots!</h1>
<table>
        <% @robots.each do |robot|  %>
        <tr>
                <td><%= robot.name %></td>
        </tr>
        <% end %>
</table>
>>>>>>> 6543dd27a156c3f2173bd28194ec68665e5821d3
