<h1>Hey Robots!</h1>

<h1><% @robots %></h1>


<h1>delete robot</h1>

<!-- <form action="delete_robot" method="post">
	<table>
		<% @robots.each do |robot| %>
	</table>
	<label for=""></label>
</form> -->
