<<<<<<< HEAD
<h1>Robots!</h1>
<table>
        <% @robots.each do |robot|  %>
        <tr>
                <td><%= robot.name %></td>
        </tr>
        <% end %>
</table>
=======
<h1>Hey Robots!</h1>






>>>>>>> 38e3e54cbe46e94d2f9b7b952f88cb44d073bff6
